header{
	width: 100%;
	height: 0.88rem;
	background-color: #c93a3a;
	padding: 0 0.24rem;
	position: fixed;
	top:0;
}
.head_title{
	font-size: 0.4rem;
	color: #fff;
	line-height: 0.88rem;
	float: left;
}
.search{
	width: 5.01rem;
	height: 0.57rem;
	float: right;
	margin-top: .155rem;
	position: relative;
}
.search input{
	width: 100%;
	height: .57rem;
	border: 0;
	border-radius: 0.1rem;
	background-color: #f6f5f4;
	padding-left: 0.68rem;
}
@font-face {
  font-family: 'iconfont';  /* project id 535303 */
  src: url('https://at.alicdn.com/t/font_535303_5fnlcc2jpl9885mi.eot');
  src: url('https://at.alicdn.com/t/font_535303_5fnlcc2jpl9885mi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_535303_5fnlcc2jpl9885mi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_535303_5fnlcc2jpl9885mi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_535303_5fnlcc2jpl9885mi.svg#iconfont') format('svg');
}
.search-btn span:nth-child(1){
	font-family:  'iconfont';
	line-height: .23rem;
	float: left;
	font-size: .4rem;
	color: #b0b0b0;
}
.search-btn{
	width: 0.24rem;
	height: 0.24rem;
	position: absolute;
	left: 0.21rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
.daohang{
	width: 100%;
	height: .89rem;
	padding:0 .24rem;
	text-align: justify;
	line-height: .89rem;
	position: fixed;
	top: 0.88rem;
	background-color: white;
}
.daohang:after{
	content: "";
	display: inline-block;
	width: 100%;
	line-height: 0;
	font-size: 0;
}
.daohang a{
	font-size: .32rem;
	font-weight: bold;
	color: #000;
	letter-spacing: .02rem;	
}
.daohang_active{
	font-size: 0.36rem;
	color: red!important;
}
.daohang_more{
	padding: .2rem 0 .2rem .21rem;
	box-shadow: -.1rem 0 0.08rem rgba(0, 0, 0, .6);
}
.banner{
	width: 100%;
	height: 3.1rem;
	margin-top: 1.77rem;
}
.banner img{
	width: 100%;
	height: 3.1rem;
}
.tupian{
	width: 100%;
	height: 3.10rem;
	background-color: yellow;
}
.qq{
	margin-top: 1.77rem;
}
.fenlei{
	width: 100%;
	height: 1.52rem;
}
.neirong_xian{
	width: 100%;
	height: 0.02rem;
	background-color: #e5e5e5;
}
.neirong_box{
	width: 100%;
	height: 2.48rem;
	background-color: #787;
}
.neirong_wenzi{
	width: 4.30rem;
	height: 1.37rem;
	margin-top: 0.36rem;
	margin-left: 0.24rem;
	font-size: 0.34rem;
}
.neirong_tupian{
	margin-right: 0.24rem;
	width: 2.25rem;
	height: 1.46rem;
	margin-top: 0.29rem;
	float: right;
}
.neirong_wenzibox{
	width: 3.18rem;
	height: 0.25rem;
	margin-left: 0.24rem;
	background-color: red;
	border-bottom: 0.24rem;
	float: left;
}
.neirong_ioco{
	width: 0.37rem;
	height: 0.26rem;
	float: right;
}
.wenzi1{
	font-size: 0.24rem;
	float: left;
	padding-right: 0.15rem;
}
.wenzhi2{
	padding-right: 0rem;
}
.fenlei{
	width: 100%;
	height: 1.54rem;
	padding: 0.24rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.fenlei li{
	width: 1.26rem;
	height: 1.2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	align-content: space-between;
}
.fenlei li img{
	width: 0.72rem;
	height: 0.72rem;
}
.fenlei li h1{
	font-size: 0.26rem;

}
/* 内容开始 */
.neirong-z{
	width: 100%;
	height: 2.48rem;
	border-top: .02rem solid #e5e5e5;
}
.neirong-shang{
	width: 6.93rem;
	height: 1.46rem;
	margin: .29rem .27rem 0 .27rem;
}
.neirong{
	width: 4rem;
	height: 1.46rem;
	float: left;
}
.neirong p{
	font-size: .35rem;
	letter-spacing: .04rem;
}
.youtupian{
	width: 2.24rem;
	height: 1.46rem;
	float: right;
}
.youtupian img{
	width: 2.24rem;
	height: 1.46rem;
}
.neirongxia span{
	font-size: .22rem;
	color: #a3a3a3;
	margin-left: .15rem;
	float: left;
}
.neirongxia{
	height: .25rem;
	margin-left: .15rem;
	margin-top: .18rem;
	margin-right: .27rem;
}
.anniu{
	width: .37rem;
	height: .26rem;
	float: right;
}
.neirong-er{
	width: 7.5rem;
	height: 3.56rem;
	border-top: .02rem solid #e5e5e5;
	padding: 0 .24rem;
}
.wenzi{
	width: 6.68rem;
	height: .85rem;
	margin-top: .38rem;
}
.wenzi p{
	font-size: .35rem;
	letter-spacing: .04rem;
}
.tututu{
	width: 7.2rem;
	height: 1.47rem;
	margin-top: .16rem;
}
.tuxiaotu{
	width: 2.24rem;
	height: 1.49rem;
	float: left;
	margin-right: .12rem;
	box-shadow: 0 0 .18rem  0.01rem rgba(208, 208, 208, .75);
}
.tuxiaotu-1{
	width: 2.24rem;
	height: 1.47rem;
	float: left;
	box-shadow: 0 0 .18rem 0.01rem rgba(208, 208, 208, .75);
}
.neirongxia1{
	height: .25rem;
	margin-top: .18rem;
}
.neirongxia1 span{
	font-size: .22rem;
	color: #a3a3a3;
	margin-right: .15rem;
	float: left;
}
.anniu1{
	width: .37rem;
	height: .26rem;
	float: right;
}
/* 内容结束 */
/* 底部导航开始 */
.tab {
    height: 0.98rem;
    width: 100%;
    padding: 0 .55rem;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.tab li:nth-child(1) {
    width: .42rem;
    height: .66rem;
}
.tab li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.tab li:nth-child(1) img {
    width: .42rem;
    height: .39rem;
}
img {
    border: 0;
    display: block;
}
.tab li:nth-child(1) h1 {
    font-size: .1rem;
}
.tab li:nth-child(2) {
    width: .81rem;
    height: .66rem;
}
.tab li:nth-child(2) img {
    width: .33rem;
    height: .37rem;
}
.tab li:nth-child(2) h1 {
    font-size: .1rem;
}
.tab li:nth-child(3) {
    width: .87rem;
    height: .87rem;
    align-self: flex-start;
}
.tab li:nth-child(3) img {
    width: .85rem;
    height: .85rem;
}
.tab li:nth-child(4) {
    width: .6rem;
    height: .66rem;
}
.tab li:nth-child(4) img {
    width: .36rem;
    height: .40rem;
}
.tab li:nth-child(4) h1 {
    font-size: .1rem;
}
.tab li:nth-child(5) {
    width: .4rem;
    height: .64rem;
}
.tab li:nth-child(4) img {
    width: .36rem;
    height: .40rem;
}
.tab li:nth-child(4) h1 {
    font-size: .2rem;
    width: 75px;
    height: 16px;
}
.tab li:nth-child(5) {
    width: .4rem;
    height: .64rem;
}
.tab li:nth-child(5) img {
    width: .4rem;
    height: .38rem;
}
.tab li:nth-child(5) h1 {
    font-size: .1rem;
}
.dfvvcd{
	margin-bottom: 0.98rem;
}
/* 底部导航结束 */